## 預測客戶是否離開本銀行 轉去其他銀行
## 預測目標 , Exited 1: 離開 0: 留下

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
# 載入資料集
dataset = pd.read_csv('Churn_Modelling.csv')

dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
# 訓練資料處理
y = dataset['Exited']

y = dataset['Exited']
X = dataset.drop(['RowNumber','CustomerId','Surname','Exited'], axis = 1) # 刪除指定column

print('X shape: '+str(X.shape))
print('y shape: '+str(y.shape))

X.head()

X shape: (10000, 10)
y shape: (10000,)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [27]:
# one-hot-Encoding 類別資料 (國家)
from sklearn.preprocessing import LabelEncoder

labelencoder_X_2 = LabelEncoder()
X['Gender'] = labelencoder_X_2.fit_transform(X['Gender'])
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10

In [28]:
# one-hot-Encoding 類別資料 (國家)

X = pd.get_dummies(data=X,columns=['Geography'])
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Geography_France   10000 non-null  uint8
 10  Geography_Germany  10000 non-null  uint8
 11  Geography_Spain    10000 non-null  uint8
dtypes: float64(2), int32(1), int64(6), uint8(3)
memory usage: 693.5 KB

In [30]:
# 將資料分割成訓練集與測試集
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [31]:
# 特徵縮放
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

X_train_pd = pd.DataFrame(X_train)
X_train_pd.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432,-1.014607,-0.569844,1.743090
1,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664,-1.014607,1.754865,-0.573694
2,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335,0.985604,-0.569844,-0.573694
3,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528,-1.014607,-0.569844,1.743090
4,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378,-1.014607,-0.569844,1.743090

In [32]:
from keras.utils import np_utils
from tensorflow.keras.layers import Dense      # Dense 建立網路
from tensorflow.keras.models import Sequential # Sequential 初始化神經網路

In [33]:
# 初始化 ANN 神經網路
classifier = Sequential()  # 初始化神經網路
 
# 建立 6 個隱藏層, 使用 relu 激勵函數, 隨機初始化權重, 並註明輸入層為 12 個神經元(因為有 12 個特徵)
classifier.add(Dense(units = 6, activation = 'relu', kernel_initializer = 'uniform', input_dim = 12))   

# 再加一個隱藏層 複製上一行, 不須再註明 input layer
classifier.add(Dense(units = 6, activation = 'relu', kernel_initializer = 'uniform')) 

# 添加輸出層 (若輸出的類別大於 2 , 例如有三種輸出 , 則 units = 3 , activation = softmax (sigmoid的多類別激勵函數))
classifier.add(Dense(units = 1, activation = 'sigmoid', kernel_initializer = 'uniform'))

In [34]:
# 要先編譯神經網路 (定義損失函數，建立隨機梯度下降，學習率 ) ==> 對模型做些配置
# 若分類結果為0,1: loss = 'binary_crossentropy', 大於2: loss =  categorical_crossentropy
# metrics 用來判斷模型標準 , 使用 accuracy 來判斷準確度

classifier.compile(optimizer = 'adam' , loss = 'binary_crossentropy', metrics=['accuracy'])

In [35]:
# 訓練模型 , 
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4805 - accuracy: 0.8021
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8239
Epoch 3/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3970 - accuracy: 0.8265
Epoch 4/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3871 - accuracy: 0.8275
Epoch 5/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3807 - accuracy: 0.8304
Epoch 6/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3751 - accuracy: 0.8406
Epoch 7/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3707 - accuracy: 0.8478
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3670 - accuracy: 0.8491
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3638 - accuracy: 0.8533
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3627 - accuracy: 0.8515
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3593 - accuracy: 0.8511
Epoch 12/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3578 - accuracy: 0.8524
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3564 - accuracy: 0.8546
Epoch 14/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3553 - accuracy: 0.8535
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3530 - accuracy: 0.8560
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3531 - accuracy: 0.8560
Epoch 17/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3515 - accuracy: 0.8550
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3501 - accuracy: 0.8568
Epoch 19/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3491 - accuracy: 0.8570
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3492 - accuracy: 0.8558
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8595
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3482 - accuracy: 0.8555
Epoch 23/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3480 - accuracy: 0.8596
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8594
Epoch 25/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3470 - accuracy: 0.8584
Epoch 26/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8590
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3457 - accuracy: 0.8579
Epoch 28/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3448 - accuracy: 0.8593
Epoch 29/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3441 - accuracy: 0.8593
Epoch 30/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3449 - accuracy: 0.8590
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8602
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3429 - accuracy: 0.8593
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8575
Epoch 34/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3425 - accuracy: 0.8621
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8595
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3418 - accuracy: 0.8599
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3419 - accuracy: 0.8616
Epoch 38/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3406 - accuracy: 0.8620
Epoch 39/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8593
Epoch 40/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3410 - accuracy: 0.8596
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3396 - accuracy: 0.8590
Epoch 42/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3396 - accuracy: 0.8604
Epoch 43/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8609
Epoch 44/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8616
Epoch 45/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3392 - accuracy: 0.8624
Epoch 46/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3388 - accuracy: 0.8614
Epoch 47/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3384 - accuracy: 0.8624
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8606
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3381 - accuracy: 0.8608
Epoch 50/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3372 - accuracy: 0.8619
Epoch 51/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8584
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3378 - accuracy: 0.8618
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8609
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3371 - accuracy: 0.8604
Epoch 55/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8597
Epoch 56/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8610
Epoch 57/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3375 - accuracy: 0.8630
Epoch 58/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8609
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3379 - accuracy: 0.8599
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3373 - accuracy: 0.8614
Epoch 61/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3368 - accuracy: 0.8620
Epoch 62/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8608
Epoch 63/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8621
Epoch 64/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8597
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8630
Epoch 66/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3377 - accuracy: 0.8625
Epoch 67/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3362 - accuracy: 0.8606
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3378 - accuracy: 0.8608
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3369 - accuracy: 0.8625
Epoch 70/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3365 - accuracy: 0.8611
Epoch 71/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3374 - accuracy: 0.8608
Epoch 72/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3369 - accuracy: 0.8631
Epoch 73/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3367 - accuracy: 0.8633
Epoch 74/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3365 - accuracy: 0.8622
Epoch 75/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3363 - accuracy: 0.8615
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3355 - accuracy: 0.8620
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3366 - accuracy: 0.8615
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3377 - accuracy: 0.8620
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3366 - accuracy: 0.8591
Epoch 80/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3364 - accuracy: 0.8639
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3374 - accuracy: 0.8608
Epoch 82/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3366 - accuracy: 0.8600
Epoch 83/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3367 - accuracy: 0.8596
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3362 - accuracy: 0.8633
Epoch 85/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3364 - accuracy: 0.8618
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3361 - accuracy: 0.8634
Epoch 87/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3357 - accuracy: 0.8610
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3374 - accuracy: 0.8612
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3353 - accuracy: 0.8626
Epoch 90/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3359 - accuracy: 0.8622
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3365 - accuracy: 0.8608
Epoch 92/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3353 - accuracy: 0.8606
Epoch 93/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3358 - accuracy: 0.8600
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3363 - accuracy: 0.8605
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3350 - accuracy: 0.8600
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3360 - accuracy: 0.8611
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3362 - accuracy: 0.8593
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3340 - accuracy: 0.8622
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3370 - accuracy: 0.8618
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3366 - accuracy: 0.8606

In [36]:
# 預測結果
y_pred = classifier.predict(X_test)

# 將預測機率大於 0.5 個設成 TRUE , 代表會離開銀行, 小於 0.5 的就為 FALSE , 代表會留在銀行
y_pred = (y_pred > 0.5)

y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [37]:
# 建立混淆矩陣，確認一下模型準確度
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# 預測總數為 1513 + 207 = 1720  1720 / 2000
cm

array([[1505,   90],
       [ 190,  215]], dtype=int64)

In [38]:
# 利用混淆矩陣判斷正確率
print("正確率為: " + str(1720/2000 *100) + "%")

正確率為: 86.0%